*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #0f1424;
  background-size: cover;
  font-family: "Rubik", sans-serif;
  color: #bdc1ff;
}

main {
  min-height: 95vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.dashboard {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  padding: 50px 0;
}
@media screen and (min-width: 800px) {
  .dashboard {
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(auto, -webkit-min-content);
    grid-template-rows: repeat(auto, min-content);
  }
}
@media screen and (min-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(auto, -webkit-min-content);
    grid-template-rows: repeat(auto, min-content);
  }
}
@media screen and (min-width: 1440px) {
  .dashboard {
    grid-template-columns: repeat(4, -webkit-min-content);
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(auto, -webkit-min-content);
    grid-template-rows: repeat(auto, min-content);
  }
}

.user-card {
  background-color: #1c1f4a;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row: span 2;
  width: 325px;
}
@media screen and (min-width: 800px) {
  .user-card {
    width: 280px;
  }
}

.owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #5847eb;
  border-radius: 20px;
}
@media screen and (min-width: 800px) {
  .owner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px;
  }
}
.owner__avatar {
  width: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.owner__information {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 800px) {
  .owner__information {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.owner__information p {
  font-size: 1.5rem;
  font-weight: 300;
}
.owner__information h1 {
  font-size: 2.3rem;
  font-weight: 300;
  color: #fff;
}
@media screen and (min-width: 800px) {
  .owner__information h1 {
    font-size: 4rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 23px 30px;
}
@media screen and (min-width: 800px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px;
  }
}
.menu__button {
  background: none;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: #6f76c8;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__button:hover, .menu__button:focus {
  color: #fff;
}
@media screen and (min-width: 800px) {
  .menu__button {
    font-size: 1.9rem;
  }
  .menu__button:not(:last-child) {
    margin-bottom: 20px;
  }
}

.card {
  border-radius: 20px;
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 800px) {
  .card {
    width: 280px;
  }
}
.card__header {
  position: relative;
  height: 4rem;
  z-index: 1;
  overflow: hidden;
}
.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px;
  background-color: #1c1f4a;
  z-index: 2;
  border-radius: 20px;
  color: #fff;
}
@media screen and (min-width: 800px) {
  .card__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding: 40px;
  }
}

.body__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__category h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
@media screen and (min-width: 800px) {
  .body__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0px;
  }
}
.body__content h1 {
  font-size: 3rem;
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  .body__content h1 {
    font-size: 6rem;
  }
}
.body__content p {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 60%;
}
@media screen and (min-width: 800px) {
  .body__content p {
    font-size: 1.6rem;
    margin-top: 10px;
  }
}

.header__img {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 2;
}

.work {
  background-color: #ff8c66;
}

.play {
  background-color: #56c2e6;
}

.study {
  background-color: #ff5c7c;
}

.exercise {
  background-color: #4acf81;
}

.social {
  background-color: #7536d3;
}

.self-care {
  background-color: #f1c65b;
}/*# sourceMappingURL=main.css.map */