// Colors variables

$cl-blue: hsl(246, 80%, 60%);
$cl-work: hsl(15, 100%, 70%);
$cl-play: hsl(195, 74%, 62%);
$cl-study: hsl(348, 100%, 68%);
$cl-exercise: hsl(145, 58%, 55%);
$cl-social: hsl(264, 64%, 52%);
$cl-self-care: hsl(43, 84%, 65%);
$cl-dark-blue1: hsl(226, 43%, 10%);
$cl-dark-blue2: hsl(235, 46%, 20%);
$cl-desaturated-blue: hsl(235, 45%, 61%);
$cl-pale-blue: hsl(236, 100%, 87%);

// Total breakpoints

$br-small: 800px;
$br-medium: 1200px;
$br-large: 1440px;

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: hsl(226, 43%, 10%);
  background-size: cover;
  font-family: "Rubik", sans-serif;
  color: $cl-pale-blue;
}

main {
  min-height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Atribution below site

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
