// PRIMARY CARD

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.5rem;
  border-radius: 1.2rem;
  background-color: $cl-blue;

  &__avatar {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 20px;
  }

  &__info {
    &--report {
      font-size: 1.5rem;
      color: $cl-pale-blue;
      font-weight: 300;
    }
    &--name {
      font-size: 2.5rem;
      color: #fff;
      font-weight: 300;
    }
  }
}

.menu {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 3.5rem;
  }
  &__item {
    font-size: 1.8rem;
    font-weight: 300;
    color: $cl-pale-blue;
  }
}

// CATEGORY CARDS

.card {
  position: relative;
  width: 325px;
  top: -20px;
  padding: 25px;
  background-color: $cl-dark-blue2;
  border-radius: 12px;
  z-index: 2;

  &__header {
    position: relative;
    width: 325px;
    height: 60px;
    border-radius: 12px;
    overflow: hidden;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 4px;
  }

  &__image {
    position: absolute;
    top: -10px;
    right: 10px;
  }

  &__stats {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--previous {
      font-size: 15px;
      color: $cl-pale-blue;
    }
  }
}

.work {
  background-color: $cl-red-work;
}

.play {
  background-color: $cl-blue-play;
}

.study {
  background-color: $cl-red-study;
}

.exercise {
  background-color: $cl-green-exercise;
}

.social {
  background-color: $cl-violet-social;
}

.self_care {
  background-color: $cl-orange-self_care;
}
