.dashboard {
  display: grid;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;

  @media screen and (min-width: $br-small) {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(auto, min-content);
  }

  @media screen and (min-width: $br-medium) {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(auto, min-content);
  }

  @media screen and (min-width: $br-large) {
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(auto, min-content);
  }
}

.user-card {
  background-color: $cl-dark-blue2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  width: 325px;

  @media screen and (min-width: $br-small) {
    width: 280px;
  }
}
.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: $cl-blue;
  border-radius: 20px;

  @media screen and (min-width: $br-small) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
  }

  &__avatar {
    width: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  &__information {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $br-small) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
    }
    h1 {
      font-size: 2.3rem;
      font-weight: 300;
      color: #fff;

      @media screen and (min-width: $br-small) {
        font-size: 4rem;
      }
    }
  }
}
.menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 23px 30px;

  @media screen and (min-width: $br-small) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
  }

  &__button {
    background: none;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: $cl-desaturated-blue;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: #fff;
    }
    @media screen and (min-width: $br-small) {
      font-size: 1.9rem;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.card {
  border-radius: 20px;
  width: 325px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $br-small) {
    width: 280px;
  }
  &__header {
    position: relative;
    height: 4rem;
    z-index: 1;
    overflow: hidden;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 23px;
    background-color: $cl-dark-blue2;
    z-index: 2;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      background-color: $cl-desaturated-blue;
    }

    @media screen and (min-width: $br-small) {
      justify-content: space-between;
      height: 100%;
      padding: 40px;
    }
  }
}

.body__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.body__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  @media screen and (min-width: $br-small) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 300;
    @media screen and (min-width: $br-small) {
      font-size: 6rem;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 60%;
    @media screen and (min-width: $br-small) {
      font-size: 1.6rem;
      margin-top: 10px;
    }
  }
}

.header__img {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 2;
}

.work {
  background-color: $cl-work;
}

.play {
  background-color: $cl-play;
}

.study {
  background-color: $cl-study;
}
.exercise {
  background-color: $cl-exercise;
}

.social {
  background-color: $cl-social;
}

.self-care {
  background-color: $cl-self-care;
}
