.dashboard {
  padding: 5rem 2.5rem;
  display: grid;
  justify-content: center;
  align-items: start;
  row-gap: 2.5rem;

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(2, min-content);
    column-gap: 2.5rem;
  }
}

.primary_card {
  background-color: $cl-dark-blue2;
  border-radius: 1.2rem;
  width: 325px;
  grid-row: span 2;
}
